



/* --------------------------------------------------- */
/* Service PHP */
/* .service{
    border: 1px solid black;
}

.service .container{
    border: 1px solid black;
} */

.service .container .card{
    margin: 2rem auto;
}

.service .container .card button{
    /* border: 1px solid black; */
    float: right;
    margin-top: 1rem;
}

/* Service PHP */
/* --------------------------------------------------- */

/* --------------------------------------------------- */

/* TIME controls */
input[type="number"] {
    width: 100px;
}

input + span {
    padding-right: 30px;
}

#appt-time:invalid{
    color: red;
    font-weight: bold;
}

#appt-time:invalid + span::after {
    position: absolute;
    color: red;
    font-weight: 500;
    content: "✖";
    padding-left: 5px;
}

#appt-time:valid{
    color: green;
    font-weight: bold;
}

#appt-time:valid + span::after {
    position: absolute;
    color: green;
    font-weight: bold;
    content: "✓";
    padding-left: 5px;
}
/* TIME controls */